body {
    background: rgb(54, 182, 255);
    background: linear-gradient(90deg, rgba(54, 182, 255, 1) 0%, rgba(255, 248, 0, 1) 100%);
}

#asdf {
    text-align: center;
    font-size: 48;
}

h1 {
    text-shadow: 2px 2px #F8BBD0 font-size:20px;
}

p {
    padding: 20px;
    font-size: 18;
    text-align: center;
}

.menu {
    list-style: none;
    font-family: cursive;
    position: fixed;
    bottom: 10px;
    left: 30px;
    background: white;
    width: 15%;
    z-index: 10;
    cursor: pointer;
    margin-top: 0%;
}

.link {
    float: left;
    color: #fff;
    padding-top: 5px;
    padding-left: 33px;
    padding-right: 25px;
    padding-bottom: 5px;
    font-size: 20px;
    margin-left: 40px;
    display: inline;
    font-family: 'Audiowide', cursive;
}

.link:hover {
    background-color: lightskyblue;
    color: aliceblue;
}

html {
    scroll-behavior: smooth;
}

.img:hover {
    transform: scale(0.9);
}
